workflows/pagamento_clean.json
{"name": "Papeluxo - Confirmar Pagamento", "nodes": [{"parameters": {"httpMethod": "POST", "path": "webhook/tray-payment", "responseMode": "responseNode", "options": {}}, "name": "Webhook - Pagamento Tray", "type": "n8n-nodes-base.webhook", "typeVersion": 1.2, "position": [250, 300]}, {"parameters": {"options": {}}, "name": "Respond to Webhook", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [450, 300]}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst status = body.status || body.payment_status || '';\nconst order_id = body.order_id || body.id_order || '';\nconst customer_phone = body.customer_phone || body.phone || '';\n\n// Normalizar telefone para chatId\nconst chatId = customer_phone.replace(/\\D/g, '') + '@c.us';\n\nreturn [\n  {\n    json: {\n      status: status.toLowerCase(),\n      order_id,\n      chatId\n    }\n  }\n];"}, "name": "Code - Parsear Pagamento", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [650, 300]}, {"parameters": {"conditions": {"string": [{"value1": "={{ $json.status }}", "operation": "isEqual", "value2": "approved"}]}, "combineOperation": "or", "options": {"caseSensitive": false}}, "name": "IF - Status Aprovado?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [850, 300]}, {"parameters": {"conditions": {"string": [{"value1": "={{ $json.status }}", "operation": "isEqual", "value2": "paid"}]}, "combineOperation": "or", "options": {"caseSensitive": false}}, "name": "IF - Status Paid?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [850, 400]}, {"parameters": {"conditions": {"string": [{"value1": "={{ $json.status }}", "operation": "isEqual", "value2": "confirmed"}]}, "combineOperation": "or", "options": {"caseSensitive": false}}, "name": "IF - Status Confirmed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [850, 500]}, {"parameters": {"url": "http://waha:3000/api/sendText", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-Api-Key", "value": "={{ $env.WAHA_API_KEY }}"}]}, "sendBody": true, "bodyParameters": {"parameters": [{"name": "session", "value": "default"}, {"name": "chatId", "value": "={{ $('Code - Parsear Pagamento').item.json.chatId }}"}, {"name": "text", "value": "=✅ *Pagamento confirmado!*\n\nSeu pedido #{{ $('Code - Parsear Pagamento').item.json.order_id }} já está sendo processado. 📦\n\nVocê receberá o código de rastreio por e-mail quando for enviado.\n\nObrigado por comprar na Papel & Cia! ✏️"}]}, "options": {"timeout": 30000}}, "name": "HTTP Request - WAHA Confirmação", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1100, 300]}, {"parameters": {"operation": "SET", "key": "=sessao:{{ $('Code - Parsear Pagamento').item.json.chatId }}", "value": "={{ {\n  etapa: 'finalizado',\n  pedido_id: $('Code - Parsear Pagamento').item.json.order_id,\n  chatId: $('Code - Parsear Pagamento').item.json.chatId\n} }}", "expire": 86400}, "name": "Redis SET - Finalizar Sessão", "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [1300, 300], "credentials": {"redis": "redis"}}], "connections": {"Webhook - Pagamento Tray": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}, "Respond to Webhook": {"main": [[{"node": "Code - Parsear Pagamento", "type": "main", "index": 0}]]}, "Code - Parsear Pagamento": {"main": [[{"node": "IF - Status Aprovado?", "type": "main", "index": 0}]]}, "IF - Status Aprovado?": {"main": [[{"node": "HTTP Request - WAHA Confirmação", "type": "main", "index": 0}], [{"node": "IF - Status Paid?", "type": "main", "index": 0}]]}, "IF - Status Paid?": {"main": [[{"node": "HTTP Request - WAHA Confirmação", "type": "main", "index": 0}], [{"node": "IF - Status Confirmed?", "type": "main", "index": 0}]]}, "IF - Status Confirmed?": {"main": [[{"node": "HTTP Request - WAHA Confirmação", "type": "main", "index": 0}]]}, "HTTP Request - WAHA Confirmação": {"main": [[{"node": "Redis SET - Finalizar Sessão", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}