workflows/principal_clean.json
{"name": "Papeluxo - Workflow Principal", "nodes": [{"parameters": {"httpMethod": "POST", "path": "papelcia-webhook", "responseMode": "responseNode", "options": {}}, "name": "Webhook - WAHA", "type": "n8n-nodes-base.webhook", "typeVersion": 1.2, "position": [250, 300]}, {"parameters": {"options": {}}, "name": "Respond to Webhook (200 OK)", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [450, 300]}, {"parameters": {"conditions": {"boolean": [{"value1": "={{ $('Webhook - WAHA').item.json.payload.fromMe }}", "operation": "equal", "value2": true}]}}, "name": "IF - fromMe? (Evitar Loop)", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [650, 300]}, {"parameters": {"conditions": {"string": [{"value1": "={{ $('Webhook - WAHA').item.json.payload.type }}", "operation": "notEqual", "value2": "chat"}]}}, "name": "IF - Tipo Chat?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [850, 300]}, {"parameters": {"operation": "GET", "key": "=sessao:{{ $('Webhook - WAHA').item.json.payload.from }}"}, "name": "Redis GET - Sessão", "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [1050, 300], "credentials": {"redis": "redis"}}, {"parameters": {"jsCode": "const chatId = $('Webhook - WAHA').item.json.payload.from;\nconst body = $('Webhook - WAHA').item.json.payload.body;\n\nlet sessao = {};\nconst redisValue = $('Redis GET - Sessão').item.json.value;\n\nif (redisValue) {\n  try {\n    sessao = JSON.parse(redisValue);\n  } catch(e) {\n    sessao = {};\n  }\n}\n\nif (!sessao.etapa) {\n  sessao = {\n    chatId: chatId,\n    nome: null,\n    cpf: null,\n    email: null,\n    cep: null,\n    etapa: 'inicio',\n    similares_exibidos: 0,\n    similares_ids_vistos: [],\n    historico: [],\n    ultimo_produto_consultado: null,\n    ultimo_termo_busca: null,\n    opcoes_frete: [],\n    frete_escolhido: null,\n    pedido_id: null,\n    tray_customer_id: null,\n    erros_consecutivos: 0\n  };\n}\n\nsessao.historico.push({ role: 'user', content: body });\n\nif (sessao.historico.length > 20) {\n  sessao.historico = sessao.historico.slice(-20);\n}\n\nreturn [{ json: { chatId, body, sessao } }];"}, "name": "Code - Parsear/Criar Sessão", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1250, 300]}, {"parameters": {"rules": [{"value": "inicio", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "inicio"}]}}, {"value": "aguardando_produto", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "aguardando_produto"}]}}, {"value": "produto_encontrado", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "produto_encontrado"}]}}, {"value": "aguardando_quantidade", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "aguardando_quantidade"}]}}, {"value": "carrinho_ativo", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "carrinho_ativo"}]}}, {"value": "aguardando_cep", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "aguardando_cep"}]}}, {"value": "aguardando_frete", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "aguardando_frete"}]}}, {"value": "aguardando_nome", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "aguardando_nome"}]}}, {"value": "aguardando_cpf", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "aguardando_cpf"}]}}, {"value": "aguardando_email", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "aguardando_email"}]}}, {"value": "confirmando_pedido", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "confirmando_pedido"}]}}, {"value": "pagamento_pendente", "conditions": {"string": [{"value1": "={{ $json.sessao.etapa }}", "operation": "equals", "value2": "pagamento_pendente"}]}}]}, "name": "Switch - Etapas da Conversa", "type": "n8n-nodes-base.switch", "typeVersion": 1, "position": [1450, 300]}, {"parameters": {}, "name": "STOP (Mensagem do Bot)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [650, 500]}, {"parameters": {}, "name": "STOP (Não é texto)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [850, 500]}], "connections": {"Webhook - WAHA": {"main": [[{"node": "Respond to Webhook (200 OK)", "type": "main", "index": 0}]]}, "Respond to Webhook (200 OK)": {"main": [[{"node": "IF - fromMe? (Evitar Loop)", "type": "main", "index": 0}]]}, "IF - fromMe? (Evitar Loop)": {"main": [[{"node": "STOP (Mensagem do Bot)", "type": "main", "index": 0}], [{"node": "IF - Tipo Chat?", "type": "main", "index": 0}]]}, "IF - Tipo Chat?": {"main": [[{"node": "STOP (Não é texto)", "type": "main", "index": 0}], [{"node": "Redis GET - Sessão", "type": "main", "index": 0}]]}, "Redis GET - Sessão": {"main": [[{"node": "Code - Parsear/Criar Sessão", "type": "main", "index": 0}]]}, "Code - Parsear/Criar Sessão": {"main": [[{"node": "Switch - Etapas da Conversa", "type": "main", "index": 0}]]}}, "settings": {}}