workflows/principal.json
[{"id":"R18wVT4fOUTSSov1","name":"Papeluxo - Workflow Principal","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"papelcia-webhook","responseMode":"responseNode","options":{}},"id":"webhook-principal","name":"Webhook - WAHA","type":"n8n-nodes-base.webhook","typeVersion":1.2,"position":[250,300],"webhookId":"papelcia-webhook"},{"parameters":{"options":{}},"id":"respond-200","name":"Respond to Webhook (200 OK)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[450,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $('Webhook - WAHA').item.json.payload.fromMe }}","operation":"equal","value2":true}]}},"id":"if-fromme","name":"IF - fromMe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[650,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook - WAHA').item.json.payload.type }}","operation":"notEqual","value2":"chat"}]}},"id":"if-tipo-chat","name":"IF - Tipo Chat?","type":"n8n-nodes-base.if","typeVersion":2,"position":[850,300]},{"parameters":{"operation":"GET","key":"=sessao:{{ $('Webhook - WAHA').item.json.payload.from }}"},"id":"redis-get-sessao","name":"Redis GET - Sessao","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1050,300],"credentials":{"redis":{"id":"Eck2I2N5CxmHac2r","name":"redis"}}},{"parameters":{"jsCode":"const chatId = $('Webhook - WAHA').item.json.payload.from;\nconst body = $('Webhook - WAHA').item.json.payload.body;\n\nlet sessao = {};\nconst redisValue = $input.first() ? $input.first().json.value : null;\n\nif (redisValue) {\n  try {\n    sessao = JSON.parse(redisValue);\n  } catch(e) {\n    sessao = {};\n  }\n}\n\nif (!sessao.etapa) {\n  sessao = {\n    chatId: chatId,\n    nome: null,\n    cpf: null,\n    email: null,\n    cep: null,\n    etapa: 'inicio',\n    similares_exibidos: 0,\n    similares_ids_vistos: [],\n    historico: [],\n    ultimo_produto_consultado: null,\n    ultimo_termo_busca: null,\n    opcoes_frete: [],\n    frete_escolhido: null,\n    pedido_id: null,\n    tray_customer_id: null,\n    erros_consecutivos: 0\n  };\n}\n\nsessao.historico.push({ role: 'user', content: body });\nif (sessao.historico.length > 20) {\n  sessao.historico = sessao.historico.slice(-20);\n}\n\nreturn [{ json: { chatId, body, sessao } }];"},"id":"code-parse-sessao","name":"Code - Parsear/Criar Sessao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1250,300]},{"parameters":{"rules":[{"value":"inicio","conditions":{"string":[{"value1":"={{ $json.sessao.etapa }}","operation":"equals","value2":"inicio"}]}},{"value":"aguardando_produto","conditions":{"string":[{"value1":"={{ $json.sessao.etapa }}","operation":"equals","value2":"aguardando_produto"}]}}]},"id":"switch-etapas","name":"Switch - Etapas","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1450,300]},{"parameters":{},"id":"noop-stop","name":"STOP (Mensagem do Bot)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[650,500]},{"parameters":{},"id":"noop-nao-chat","name":"STOP (Nao e texto)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[850,500]},{"parameters":{"jsCode":"const sessao = $('Code - Parsear/Criar Sessao').item.json.sessao;\nconst chatId = $('Code - Parsear/Criar Sessao').item.json.chatId;\n\nsessao.etapa = 'aguardando_produto';\n\nconst mensagem = 'Ola! Bem-vindo a Papel & Cia!\\n\\nSou o Papeluxo, seu assistente virtual.\\n\\nEsta buscando uma solucao? Em que posso lhe ajudar hoje?';\n\nreturn [{ json: { chatId, sessao, mensagem } }];"},"id":"code-saudacao","name":"Code - Saudacao Inicial","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,100]},{"parameters":{"url":"http://waha:3000/api/sendText","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"COLOQUE_SUA_WAHA_API_KEY_AQUI"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"default"},{"name":"chatId","value":"={{ $json.chatId }}"},{"name":"text","value":"={{ $json.mensagem }}"}]},"options":{"timeout":30000,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000}},"id":"http-waha-send-0","name":"HTTP WAHA - Saudacao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,100]},{"parameters":{"operation":"SET","key":"=sessao:{{ $json.chatId }}","value":"={{ JSON.stringify($json.sessao) }}","expire":86400},"id":"redis-set-0","name":"Redis SET - Sessao","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2100,100],"credentials":{"redis":{"id":"Eck2I2N5CxmHac2r","name":"redis"}}},{"parameters":{"jsCode":"const sessao = $('Code - Parsear/Criar Sessao').item.json.sessao;\nconst chatId = $('Code - Parsear/Criar Sessao').item.json.chatId;\nconst body = $('Code - Parsear/Criar Sessao').item.json.body;\n\nconst prompt = 'Analise esta mensagem de cliente de papelaria: \"' + body + '\".\\n\\nResponda APENAS com JSON valido:\\n{\\n  \"intencao\": \"buscar_produto\" | \"falar_humano\" | \"confirmar\" | \"negar\" | \"outra\",\\n  \"termo_busca\": \"termo extraido ou null\",\\n  \"confianca\": 0.0 a 1.0\\n}';\n\nreturn [{ json: { prompt, chatId, sessao } }];"},"id":"code-classificar-intencao","name":"Code - Classificar Intencao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,250]},{"parameters":{"url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=COLOQUE_SUA_GEMINI_API_KEY_AQUI","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"contents[0].parts[0].text","value":"={{ $json.prompt }}"}]},"options":{"timeout":30000,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000}},"id":"http-gemini-classificar","name":"HTTP Gemini - Classificar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,250]},{"parameters":{"jsCode":"const geminiResponse = $input.first().json;\nconst sessao = $('Code - Classificar Intencao').item.json.sessao;\nconst chatId = $('Code - Classificar Intencao').item.json.chatId;\n\nconst texto = geminiResponse.candidates ? geminiResponse.candidates[0].content.parts[0].text : '';\nconst textoLimpo = texto.replace(/```json|```/g, '').trim();\n\nlet resultado;\ntry {\n  resultado = JSON.parse(textoLimpo);\n} catch(e) {\n  resultado = { intencao: 'outra', termo_busca: null, confianca: 0 };\n}\n\nreturn [{ json: { chatId, sessao, intencao: resultado.intencao, termo_busca: resultado.termo_busca, confianca: resultado.confianca } }];"},"id":"code-parse-classificacao","name":"Code - Parsear Classificacao","type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,250]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.intencao }}","operation":"equals","value2":"falar_humano"}]}},"id":"if-falar-humano","name":"IF - Falar Humano?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2300,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.intencao }}","operation":"notEqual","value2":"buscar_produto"}]}},"id":"if-nao-busca","name":"IF - Nao e Busca?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2300,300]},{"parameters":{"jsCode":"const sessao = $('Code - Parsear Classificacao').item.json.sessao;\nconst chatId = $('Code - Parsear Classificacao').item.json.chatId;\n\nsessao.erros_consecutivos = (sessao.erros_consecutivos || 0) + 1;\n\nlet mensagem;\nlet transferir = false;\n\nif (sessao.erros_consecutivos >= 2) {\n  transferir = true;\n  mensagem = null;\n} else {\n  mensagem = 'Foi mal, sou novo aqui na Papel & Cia... Nao consegui entender. Pode repetir?';\n  sessao.etapa = 'aguardando_produto';\n}\n\nreturn [{ json: { chatId, sessao, mensagem, transferir } }];"},"id":"code-erro-intencao","name":"Code - Erro de Intencao","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,350]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.transferir }}","operation":"equal","value2":true}]}},"id":"if-transferir-erro","name":"IF - Transferir?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2700,350]},{"parameters":{"operation":"GET","key":"tray_access_token"},"id":"redis-get-tray-token","name":"Redis GET - Tray Token","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2500,200],"credentials":{"redis":{"id":"Eck2I2N5CxmHac2r","name":"redis"}}},{"parameters":{"url":"https://lojatesteintegracaotray.commercesuite.com.br/web_api/products","method":"GET","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Redis GET - Tray Token').item.json.value }}"},{"name":"name","value":"={{ $('Code - Parsear Classificacao').item.json.termo_busca }}"},{"name":"limit","value":"5"},{"name":"status","value":"1"}]},"options":{"timeout":30000,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000}},"id":"http-tray-buscar","name":"HTTP Tray - Buscar Produto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2700,400]},{"parameters":{"jsCode":"const sessao = $('Code - Parsear Classificacao').item.json.sessao;\nconst chatId = $('Code - Parsear Classificacao').item.json.chatId;\nconst termo_busca = $('Code - Parsear Classificacao').item.json.termo_busca;\nconst response = $input.first().json;\n\nconst produtos = response.Products || response.data || [];\nconst primeiroProduto = (produtos[0] && produtos[0].Product) ? produtos[0].Product : (produtos[0] || null);\n\nlet mensagem;\n\nif (primeiroProduto && primeiroProduto.id && primeiroProduto.name) {\n  const preco = parseFloat(primeiroProduto.price).toFixed(2).replace('.', ',');\n  mensagem = 'Encontrei isso! 📦\\n\\n*' + primeiroProduto.name + '*\\n💰 Preco: R$ ' + preco + '\\n📊 Estoque: ' + primeiroProduto.stock + ' unidades\\n\\nDeseja adicionar ao carrinho? (Sim/Nao)';\n  sessao.etapa = 'produto_encontrado';\n  sessao.ultimo_produto_consultado = primeiroProduto;\n  sessao.ultimo_termo_busca = termo_busca;\n  sessao.erros_consecutivos = 0;\n  sessao.similares_exibidos = 0;\n  sessao.similares_ids_vistos = [];\n} else {\n  mensagem = 'Nao encontrei \"' + termo_busca + '\". Tente com outro nome ou marca?';\n  sessao.etapa = 'aguardando_produto';\n}\n\nreturn [{ json: { chatId, sessao, mensagem } }];"},"id":"code-parse-produto","name":"Code - Parsear Produto Tray","type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,450]},{"parameters":{"url":"http://waha:3000/api/sendText","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"COLOQUE_SUA_WAHA_API_KEY_AQUI"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"default"},{"name":"chatId","value":"={{ $json.chatId }}"},{"name":"text","value":"={{ $json.mensagem }}"}]},"options":{"timeout":30000,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000}},"id":"http-waha-send-1","name":"HTTP WAHA - Produto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3100,450]},{"parameters":{"operation":"SET","key":"=sessao:{{ $json.chatId }}","value":"={{ JSON.stringify($json.sessao) }}","expire":86400},"id":"redis-set-1","name":"Redis SET - Produto","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3300,450],"credentials":{"redis":{"id":"Eck2I2N5CxmHac2r","name":"redis"}}}],"connections":{"Webhook - WAHA":{"main":[[{"node":"Respond to Webhook (200 OK)","type":"main","index":0}]]},"Respond to Webhook (200 OK)":{"main":[[{"node":"IF - fromMe?","type":"main","index":0}]]},"IF - fromMe?":{"main":[[{"node":"STOP (Mensagem do Bot)","type":"main","index":0}],[{"node":"IF - Tipo Chat?","type":"main","index":0}]]},"IF - Tipo Chat?":{"main":[[{"node":"STOP (Nao e texto)","type":"main","index":0}],[{"node":"Redis GET - Sessao","type":"main","index":0}]]},"Redis GET - Sessao":{"main":[[{"node":"Code - Parsear/Criar Sessao","type":"main","index":0}]]},"Code - Parsear/Criar Sessao":{"main":[[{"node":"Switch - Etapas","type":"main","index":0}]]},"Switch - Etapas":{"main":[[{"node":"Code - Saudacao Inicial","type":"main","index":0}],[{"node":"Code - Classificar Intencao","type":"main","index":0}]]},"Code - Saudacao Inicial":{"main":[[{"node":"HTTP WAHA - Saudacao","type":"main","index":0}]]},"HTTP WAHA - Saudacao":{"main":[[{"node":"Redis SET - Sessao","type":"main","index":0}]]},"Code - Classificar Intencao":{"main":[[{"node":"HTTP Gemini - Classificar","type":"main","index":0}]]},"HTTP Gemini - Classificar":{"main":[[{"node":"Code - Parsear Classificacao","type":"main","index":0}]]},"Code - Parsear Classificacao":{"main":[[{"node":"IF - Falar Humano?","type":"main","index":0}]]},"IF - Falar Humano?":{"main":[[],[{"node":"IF - Nao e Busca?","type":"main","index":0}]]},"IF - Nao e Busca?":{"main":[[{"node":"Code - Erro de Intencao","type":"main","index":0}],[{"node":"Redis GET - Tray Token","type":"main","index":0}]]},"Code - Erro de Intencao":{"main":[[{"node":"IF - Transferir?","type":"main","index":0}]]},"IF - Transferir?":{"main":[[],[]]},"Redis GET - Tray Token":{"main":[[{"node":"HTTP Tray - Buscar Produto","type":"main","index":0}]]},"HTTP Tray - Buscar Produto":{"main":[[{"node":"Code - Parsear Produto Tray","type":"main","index":0}]]},"Code - Parsear Produto Tray":{"main":[[{"node":"HTTP WAHA - Produto","type":"main","index":0}]]},"HTTP WAHA - Produto":{"main":[[{"node":"Redis SET - Produto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"principal-v11-secure","tags":[]}]