workflows/token_clean.json
{"name": "Papeluxo - Renovar Token Tray", "nodes": [{"parameters": {}, "name": "Schedule", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [250, 300]}, {"parameters": {"operation": "GET", "key": "tray_refresh_token"}, "name": "Redis GET - Refresh Token", "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [450, 300], "credentials": {"redis": "redis"}}, {"parameters": {"url": "={{ $env.TRAY_API_URL }}/auth", "authentication": "genericCredentialType", "genericAuthType": "httpQueryAuth", "sendQuery": true, "queryParameters": {"parameters": [{"name": "consumer_key", "value": "={{ $env.TRAY_CONSUMER_KEY }}"}, {"name": "consumer_secret", "value": "={{ $env.TRAY_CONSUMER_SECRET }}"}, {"name": "refresh_token", "value": "={{ $('Redis GET - Refresh Token').item.json.value }}"}]}, "options": {"timeout": 30000, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}}, "name": "HTTP Request - Tray Auth", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [650, 300]}, {"parameters": {"jsCode": "const response = $input.first().json;\n\nconst access_token = response.access_token;\nconst refresh_token = response.refresh_token;\nconst date_expiration_access = response.date_expiration_access_token;\n\nconsole.log(`Token Tray renovado. Expira em: ${date_expiration_access}`);\n\nreturn [\n  {\n    json: {\n      access_token,\n      refresh_token,\n      date_expiration_access\n    }\n  }\n];"}, "name": "Code - Parsear Token", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [850, 300]}, {"parameters": {"operation": "SET", "key": "tray_access_token", "value": "={{ $json.access_token }}", "expire": 9000}, "name": "Redis SET - Access Token", "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [1050, 250], "credentials": {"redis": "redis"}}, {"parameters": {"operation": "SET", "key": "tray_refresh_token", "value": "={{ $json.refresh_token }}", "expire": 2592000}, "name": "Redis SET - Refresh Token", "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [1050, 400], "credentials": {"redis": "redis"}}], "connections": {"Schedule": {"main": [[{"node": "Redis GET - Refresh Token", "type": "main", "index": 0}]]}, "Redis GET - Refresh Token": {"main": [[{"node": "HTTP Request - Tray Auth", "type": "main", "index": 0}]]}, "HTTP Request - Tray Auth": {"main": [[{"node": "Code - Parsear Token", "type": "main", "index": 0}]]}, "Code - Parsear Token": {"main": [[{"node": "Redis SET - Access Token", "type": "main", "index": 0}, {"node": "Redis SET - Refresh Token", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}